@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.cdnfonts.com/css/elianto');



body {
  margin: 0;
  color: #fff;
  background-size: cover;
  /*background-image: url({{park.images_url[0]}});*/
  font-family: 'Montserrat', sans-serif; 
}

a.navbar-brand {
    font-family: 'Elianto', sans-serif;
    }
  
a.nav-link {
  font-family: 'Montserrat', sans-serif; 
  font-size: 14px;
  font-weight: bold; 

}
#map,

h3 {
    font-family: 'Elianto', sans-serif;
    }
html {
  height: 100%;
} 


h5 {
    font-size: 16px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 2px;
  height: 10px;
}
